@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

html {
  --kaire-spalva: #8490ff;
  --desine-spalva: #62bdfc;
  font-size: 14px;
  color: #222222;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;

  font-weight: 300;
  line-height: 1.625;
}
section {
  margin-top: 50px;
  padding-bottom: 40px;
  padding-top: 80px;
}
h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2em;
}
h2 {
  color: #222;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.2;
  padding: 0 1rem;
}
h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 600;
}
h4 {
  color: #222;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}
p {
  color: #777777;
  margin-bottom: 1.5rem;
}
.text-center {
  text-align: center;
}
.maxW {
  max-width: 67%;
}
.unlisted {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1140px;
  margin: 0 auto;
}
.lnr {
  font-size: 2.5rem;
}
.services-title {
  text-align: center;
}
.btn {
  border: none;
  border-radius: 0;
  color: #fff;
  background-image: linear-gradient(
    to right,
    var(--kaire-spalva),
    var(--desine-spalva)
  );
  padding: 0.9em 1.8em;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0px 20px 20px 0px rgb(132, 144, 255, 30%);
}
.menu-content {
  margin: 0 auto;
}

/*               HEADER               */
.main-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
}
.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger {
  font-size: 1.8rem;
  padding-right: 1rem;
}
.main-menu {
  display: flex;
  display: none;
}
.main-menu li {
  margin: 0;
  padding: 0;
}
.main-menu a {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0 0.8rem;
  transition: 0.3s;
}
.main-menu li:first-child a {
  color: #8490ff;
}
.main-menu a:hover {
  color: #8490ff;
}

/*==============   HERO   ================*/
.main-hero {
  background-color: #f9f9ff;
  padding-top: 80px;
}
.hero-left {
  margin-bottom: 50px;
}
.hero-right {
  display: flex;
  justify-content: center;
}
.hero-right img {
  width: 70%;
}
/* ============== ABOUT ================ */
.about-me .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.about-left {
}
.about-left img {
  display: block;
  width: 100%;
  height: 100%;
}
/* =============  SERVICES  ============ */
.services-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.services-container__item p {
  max-width: 20rem;
  margin: 0 auto 1rem;
}
.services-title {
  padding-top: 4.5rem;
}

/* ============   FACTS   ============== */
.facts {
  background: linear-gradient(
    to right,
    var(--kaire-spalva),
    var(--desine-spalva)
  );
  padding: 8rem 0;
}
.facts .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  justify-content: center;
}
.facts-number {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2em;
  text-align: center;
  margin: 0;
}
.facts-title {
  color: #fff;
  text-align: center;
  margin: 0;
}
/*  =========== PROJECTS  ============== */
.projects .menu-content {
  padding-bottom: 3rem;
}
.projectList {
  display: flex;
  justify-content: center;
}
.projectList li {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5em 0.5em;
}
.projectList li:not(:first-child)::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #000;
  width: 0%;
}
.projectList li:not(:first-child):hover::after {
  width: 50%;
  transition: width 1s ease-out;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 3rem;
}
.projectItem {
  transition: 2s;
}
.projectItem_img {
  position: relative;
  border-radius: 5px;
}
.projectItem_img > img {
  display: block;
  width: 100%;
  height: 100%;
}
.overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    var(--kaire-spalva),
    var(--desine-spalva)
  );
  opacity: 0;
  transition: 0.5s ease-out;
}
.binoculars {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projectItem:hover .overlay {
  opacity: 0.8;
  cursor: pointer;
}
.item_title h4 {
  margin-bottom: 0;
}
/*  =========== PLANS ================== */
.plans-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
.plans-item {
  background-color: #f9f9ff;
  font-size: 14px;
  padding: 2.5rem 1.5rem;
  color: #777;
}
.plans-item__number {
  font-size: 36px;
  display: grid;
  place-items: center;
  width: 140px;
  height: 140px;
  background-color: #f9f9ff;
  border: 30px solid #e2e5ff;
  border-radius: 50%;
  margin: 0 auto;
}
.plans-item_list li {
  padding: 0.8em 0;
  border-top: 1px solid #eee;
  text-align: center;
}
.plans-item_list li:last-child {
  border-bottom: 1px solid #eee;
}
.plans-item_bottom button {
  width: 100%;
  padding: 0.8em 4.5em;
  border: none;
  border-radius: 0;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #222222;
  display: none;
}
.plans-item:hover {
  transform: scale(1.05);
  z-index: 2;
  background: linear-gradient(
    to right,
    var(--kaire-spalva),
    var(--desine-spalva)
  );
  color: #fff;
  transition: 0.3s ease-out;
}
.plans-item:hover button {
  display: block;
}
.plans-item:hover .plans-item_bottom > h2 {
  display: none;
}
.plans-item:hover p {
  color: #fff;
}
.plans-item:hover .plans-item__number {
  background-color: transparent;
}
.plans-item:hover .item_title h4 {
  transition: 0s;
  color: #fff;
}
/* ===========  BLOG  ================== */
.blog-item {
  margin-top: 3rem;
}
.latest-posts {
  background-color: #f9f9ff;
}
.blog-image_container {
  overflow: hidden;
}
.blog-image_container img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.blog-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 0.8rem 0;
}
.blog-author {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-author img {
  max-width: 100%;
  max-height: 100%;
  /* height: 30px; */
}
.blog-author p {
  margin: 0;
  padding-left: 1rem;
}
.blog-date {
  /* flex-basis: 35%; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.blog-date p {
  margin-bottom: 0;
}
.blog-date .lnr {
  font-size: 1rem;
  margin-left: 0.8rem;
}
.blog-content {
  margin-top: 3rem;
}
.blog-content h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.blog-item:hover .blog-image {
  transform: scale(1.2);
  transition: 1s ease-in-out;
}
.blog-item:hover .item-title h4 {
  color: #8490ff;
}

/* ===================================== */
/*          RESPONSIVE                   */

/*            TABLET                     */
@media screen and (min-width: 600px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .menu-content {
    max-width: 67%;
    padding-bottom: 2rem;
  }
  /* HERO */
  .main-hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }
  /*  ABOUT ME   */
  .about-me .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }
  /*    SERVICES     */
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: start;
    gap: 2rem;
  }
  /*    FACTS        */
  .facts .container {
    grid-template-columns: repeat(2, 1fr);
  }
  /*    SERVICES      */
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /*    PLANS        */
  .plans-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  /*    BLOG         */
  .blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/*    =========LAPTOP======     920px           */
@media screen and (min-width: 950px) {
  html {
    font-size: 15px;
  }

  /*    HEADER       */
  .main-menu {
    display: flex;
  }
  .burger {
    display: none;
  }
  /*    SERVICES     */
  .services-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  /*    FACTS        */
  .facts .container {
    grid-template-columns: repeat(4, 1fr);
  }
  /*    SERVICES      */
  .project-container {
    grid-template-columns: repeat(3, 1fr);
  }
  /*    PLANS        */
  .plans-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*    ============= 1200px  ================ */
@media screen and (min-width: 1240px) {
  html {
    font-size: 16px;
  }
  .container {
    max-width: 1224px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  /*    BLOG         */
  .blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
