@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,400&display=swap");

.container {
  max-width: 1140px;
  padding-top: 2rem;
}

html {
  font-size: 10px;
}

p {
  font-size: 16px;
  color: #7a838b;
}

/* Section Trip */

.secTitle {
  font-size: 3.8rem;
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: normal;
}

.secSubTitle {
  max-width: 540px;
  text-align: center;
  margin: 0 auto 4rem;
  line-height: 1.5;
}

.tripGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.tripItem {
  background-color: #fff;
}

.tripDesc {
  padding: 2.7rem 2rem 2.5rem;
}

.tripTitle {
  font-size: 2.2rem;
  margin-bottom: 0.4em;
  font-weight: normal;
}

.mb0 {
  margin-bottom: 0;
}
.space-between {
  justify-content: space-between;
}
.pos-rel {
  position: relative;
}

.tripRating .fa {
  color: goldenrod;
}

.tripPrice {
  background-color: #1ec6b6;
  border-radius: 20px;
  padding: 0.2em 0.7em;
  color: #fff;
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.tripItem img {
  width: 100%;
}
/* -----FOOTER----------------- */

.footer {
  font-family: "Rubik", sans-serif;
  background-color: #040e27;
  color: white;
  color: rgb(170, 177, 183);
}
.footer p {
  font-size: 1.4rem;
  line-height: 2;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 3.6rem;
}
.footer h3 {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  font-weight: normal;
  color: white;
}
.footerInfo {
  max-width: 1140px;
  margin: 0 auto;
  padding: 11rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  font-size: 1.4rem;
}
.footerLogo {
  margin-bottom: 40px;
}
.destinationLists {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footerGridItem {
  padding: 0 1.5em;
}
.igPhotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.socialLinks {
  margin-top: 4.5rem;
}
.socialLinks i {
  font-size: 1.5rem;
  padding-right: 7px;
  width: 3rem;
}
.socialLinks i:hover {
  color: red;
}
.footerGridItem li:hover {
  color: red;
}
.footerCopyright {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}
/* .igPhotos a {
  width: 100%;
} */
.footerCopyrightBorder {
  border-top: 1px solid #7a838b;
  padding-bottom: 2.5rem;
}
.copyrightText {
  text-align: center;
}
.redText {
  color: red;
}

/* TABLET=============== */
@media screen and (max-width: 920px) {
  html {
    font-size: 8px;
  }
  p {
    font-size: 12px;
  }
  .tripGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footerInfo {
    max-width: 920px;
    padding: 11rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 3rem;
  }
  .footerGridItem {
    margin-bottom: 3rem;
  }
}

/* PHONE=================  */
@media screen and (max-width: 450px) {
  html {
    font-size: 8px;
  }
  p {
    font-size: 12px;
  }
  .tripGrid {
    grid-template-columns: auto;
  }
  .footerInfo {
    max-width: 450px;
    padding: 5rem 0;
    grid-template-columns: 1fr;
    margin: 0;
  }
}
