@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import "reset.css";
.mainGrid {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "logo logo logo"
    "aside main1 main2"
    "footer footer footer";
  grid-template-columns: 1.5fr 3fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}
.header {
  grid-area: logo;
  text-align: center;
  background-color: coral;
  margin: 0;
}
.aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.asideItem {
  padding: 20px 30px;
  background-color: rgb(155, 32, 32);
}
.main1 {
  grid-area: main1;
}
.main2 {
  grid-area: main2;
}
.footer {
  grid-area: footer;
  background-color: coral;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer h3 {
  margin: 0;
}
.header p {
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
  margin: 0;
}
/* TABLET=========== */
@media screen and (max-width: 768px) {
  .mainGrid {
    display: grid;
    grid-template-areas:
      "logo logo logo"
      "aside main1 main1"
      "main2 main1 main1"
      "footer footer footer";
    /* grid-template-columns: 1.5fr 3fr 1fr; */
  }
}
/* MOBILE============ */
@media screen and (max-width: 450px) {
  .mainGrid {
    max-width: 450px;
    display: grid;
    grid-template-areas:
      "logo"
      "aside"
      "main1"
      "main2"
      "footer";
    grid-template-columns: auto;
  }
}
