@use "vars" as v;

body {
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.5);
}

.btn {
  border: none;
  padding: 0.8em 1.5em;
  color: v.$primary-light-color;
  background-color: v.$primary-color;
  font-size: 1rem;
  border-radius: 2rem;
  border: 1px solid v.$primary-color;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.btn--outline {
  @extend .btn;
  background-color: v.$primary-light-color;
  color: v.$primary-color;
}
.header-pill {
  display: inline-block;
  font-size: 0.7rem;
  padding: 0.5em 1.5em;
  border-radius: 2rem;
  color: v.$secondary-color;
  background-color: v.$secondary-bg-color;
  text-transform: uppercase;
}
.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: v.$primary-color;
}

img {
  width: 100%;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.feature__logo {
  font-size: 4rem;
  margin: 0 auto;
  .fa {
    margin: 0 auto;
  }
}
.feature-title {
  font-weight: 700;
}
.unlisted {
  color: rgb(0, 0, 0, 0.5);
  list-style-type: none;
  padding-left: 0;
  li {
    padding: 0.5em 0;
  }
}
@mixin beforas($kodas: "\f0e0") {
  &::before {
    content: $kodas;
    font-family: "FontAwesome";
    padding-right: 1em;
  }
}
